In [1]:
import numpy as np
import pandas as pd

In [31]:
df = pd.DataFrame({"A":[1,2,3,4],
                  "B":[33,44,55,66],
                  "C":[True,False,True,False],
                  "D":[.22,.33,.44,.55]})
df

   A   B      C     D
0  1  33   True  0.22
1  2  44  False  0.33
2  3  55   True  0.44
3  4  66  False  0.55

In [32]:
df.loc[df['A']>3, "B"]=800
df

   A    B      C     D
0  1   33   True  0.22
1  2   44  False  0.33
2  3   55   True  0.44
3  4  800  False  0.55

In [33]:
df.loc[df["A"]>2,["D","C"]]=93
df

   A    B      C      D
0  1   33   True   0.22
1  2   44  False   0.33
2  3   55     93  93.00
3  4  800     93  93.00

In [35]:
df.loc[df.A < 2, ['B', 'C']] = 2000
df

   A     B      C      D
0  1  2000   2000   0.22
1  2    44  False   0.33
2  3    55     93  93.00
3  4   800     93  93.00

In [38]:
df_mask = pd.DataFrame({'A': [True] * 4,
                          'B': [False] * 4,
                          'C': [True, False] * 2,
                          "D":[True,False,False,True]})

df.where(df_mask,-1000) #input -1000 where False

   A     B      C        D
0  1 -1000   2000     0.22
1  2 -1000  -1000 -1000.00
2  3 -1000     93 -1000.00
3  4 -1000  -1000    93.00

In [39]:
df['logic'] = np.where(df['A'] > 2, 'high', 'low')
df

   A     B      C      D logic
0  1  2000   2000   0.22   low
1  2    44  False   0.33   low
2  3    55     93  93.00  high
3  4   800     93  93.00  high

In [40]:
df1 = pd.DataFrame({'AAA': [4, 5, 6, 7],
                      'BBB': [10, 20, 30, 40],
                      'CCC': [100, 50, -30, -50]})
df1

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [41]:
df1.loc[(df1.BBB<=20) & (df1.CCC>40),"AAA"]

0    4
1    5
Name: AAA, dtype: int64

In [42]:
df1.loc[(df1['BBB'] > 25) | (df1['CCC'] >= -40), 'AAA']

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [44]:
df1.loc[(df1['BBB'] > 25) | (df1['CCC'] >= 75), 'AAA'] = 0.1
df1

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [47]:
aValue = 43.0
df1.loc[(df1.CCC - aValue).abs().argsort()] 
df1

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [48]:
(df1.CCC - aValue).abs().argsort()

0    1
1    0
2    2
3    3
Name: CCC, dtype: int64

In [50]:
df = pd.DataFrame({'AAA': [4, 5, 6, 7],
                      'BBB': [10, 20, 30, 40],
                      'CCC': [100, 50, -30, -50]})

df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [52]:
crit1 = df.AAA <=5.5
crit2 = df.BBB==10
crit3 = df.CCC>-40
critlist = [crit1,crit2,crit3]

import functools
allcrit = functools.reduce(lambda x,y : x&y, critlist)
allcrit

0     True
1    False
2    False
3    False
dtype: bool

In [53]:
df[allcrit]

   AAA  BBB  CCC
0    4   10  100

In [54]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [55]:
df[(df.AAA <= 6) & (df.index.isin([0, 2, 4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30